/* Laba 2 */

#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #ffffff;
    width: 100%;
}

body {
    background: url(img/7.jpg), url(img/4.jpg), url(img/6.jpg);
    background-position: left, right, center;
    background-repeat: repeat-y, repeat-y, repeat-y; 
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

a{
    color: #2F4F4F; 
}

a:visited{
    color: #8B008B;
}

a:hover{
    color: #000080;
}

a:active {
    color:#F8F8FF;
}

h1 {
    color: #800080;
    background: #E6E6FA;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: underline solid #800080;
}

hr {
    height: 5px; 
    border: 0; 
    background-color: #800080;
    margin-top: 1em;
    margin-bottom: 1em; 
}

.container{
    width: 100%; 
    max-width: 1200px;
    padding: 15px; 
    margin: 0 auto; 
}

.container:after, .row:after {
    content: "";
    display: table; 
    clear: both; 
}

.logo{
    float: left;
    font-size: 30px;
}



.col-1-2{
    width: 50%; 
    float: left;  
}

.col-1-3{
    width: 33%;
    float: left; 
}

.col-1-4{
    width: 25%; 
    float: left; 
    background-color: #E6E6FA;
}

.col-2-3{
    width: 66%;
    float: left; 
}

.row{
    margin-bottom: 15px; 
}

p::selection{
    color: #800080;
    background-color: #BA55D3;
}

li:first-child{
    font-family: Arial, Helvetica, sans-serif;
    color: #800080;
}

form div {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 0.6em;
    }
    form div label {
    float: left;
    width: 40%;
    font: bold;
    color: #800080; 
    }

form{
    width: 60%;

}


input{
    width: 50%;
}



button{
    border: 0;
}

.photo{
    float: left; 
    margin-bottom: 1em; 
    margin-right: 1em;
    width: 100px;
}

a.block{
    display: block; 
}

#navigation{
    width: 150px; 
}

#navigation ul{
    list-style: none;
    margin: 0;
    padding: 0; 
}

#navigation li{
    border-bottom: 1px solid #DA70D6;
}

#navigation li a:link,  #navigation li a:visited {
    font-size: 90%;
    display: block;
    padding: 0.4em 0 0.4em 0.5em;
    border-left: 12px solid #800080;
    border-right: 5px solid #800080;
    background-color: #9932CC;
    color: #FFFFFF;
    text-decoration: none;
}

#navigation li a:hover{
    color: #9370DB;
}

ul li{
    display: inline;
}

.center{
    text-align: center; 
}

.left{
    text-align: left; 
}

.font5{
    font-size: 5;
}

.font4{
    font-size: 4;
}

.photo1{
    height: 350px; 
}

.photo2{
    width: 100px; 
}

.slide{
    height: 100px; 
    width: 100px; 
    background-color: #9370DB;
}

.slide1{
    height: 100px; 
    width: 100px; 
    background-color: #9370DB;
}

.animate{
    height: 100px; 
    width: 100px; 
    background-color: #9370DB;
}

